<!DOCTYPE html>
    <html>
        <%- include ('./partials/head.ejs', {page: 'Edit Packages'}) %>
        <%- include ('./partials/nav.ejs') %>
       
        <section class="selector">
            <form action="/packages/<%=package._id%>?_method=PUT" method="POST">
                <fieldset>
                    <legend>Edit package</legend>
                        <div class="form-group">
                          <label for="package-title">Package title</label>
                          <input type="text" placeholder ="package title" id="package" value="<%= package.title%>"/>
                        </div>

                        <!-- <div class="form-group">
                          <label for="singer-name">Packge </label>
                          <input type="text" placeholder="" is="singer" value="<%= package.singer %>"/>
                        </div> -->

                        <div class="form-group">
                          <label for="package-image">package image</label>
                          <input type="text" placeholder="package image" name="image" value="<%= package.image %> " />
                        </div>

                        <div class="form-group">
                          <label for="">weight</label>
                            <input type="" placeholder="0,0lbs" name="weight" value="<%= package.weight %> " />
                        </div>
                        <div class="form-group">
                          <label for="">price</label>
                          <input type="" placeholder="$00" name="weight" value="<%= package.price %> " />
                        </div>

                        <div class="control">
                          <a class="button " href="/packages/<%= package._id %> ">Cancel</a>
                          <button class="btn btn-success" type="edit ">Edit package</button>
                        </div>
                </fieldset>
            </form>
        </section>
      </body>
    </html>
      