<!DOCTYPE html>
    <html lang="en">
        <%- include ('./partials/head.ejs', {page: 'All packages'}) %>
        <%- include ('./partials/nav.ejs') %>
    
            <div class="box"> 
                <main class="container-fluid">
                    <% for(let idx = 0; idx < packages.length; idx++){ %> <% const package =
                        packages[idx] %>
                            <div class="card " style="width: 50rem;" >
                                <img class="card-img-top" src="<%= package.image %>" alt="Card image cap"/>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <a href="/packages/<%= package._id %>"><%= package.title %> </a>
                                    </h3>
                                    <h5><%= package.weight %></h5>
                                    <p>$<%= package.price %></p>
                                </div>
                            </div>
                    <% } %>
                </main>
            </div>
    
        </body>
    </html>