<!DOCTYPE html>
    <html>
        <%- include ('./partials/head.ejs', {page: song.title }) %>
        <%- include ('./partials/nav.ejs') %>

          <div class="card " style="width: 50rem;" >
              <img class="card-img-top" src="<%= package.image %>" alt="Card image cap"/>
              <div class="card-body">
                  <h3 class="card-title">
                      <a href="/packages/<%= package._id %>"><%= package.title %> </a>
                  </h3>
                  <h5><%= package.weight %></h5>
                  <p>$<%= package.price %></p>
                  <div class="control">
                    <a class="button " href="/packages/<%= package._id %>/edit">Edit package</a>
                  </div>
                  <form action="/packages/<%= package._id %>?_method=DELETE" method="POST">
                    <input class="btn btn-danger" type="submit" value="	Delete package"/>                    
                  </form>
              </div>
                  
          </div>
      </body>
    </html>